.clients {
  @extend .section;
}

.clients__header {
  @extend .team__head;
}

.clients__list {
  @extend .list;
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    flex-basis: calc((100%-60px) / 2);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100%-90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-90px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid $icons-color;
  box-sizing: border-box;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: $brandcolor;
  }

  &:hover,
  &:focus {
    border: 1px solid $brandcolor;
  }
}

.clients__icon {
  display: flex;
  fill: $icons-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
