.page-header {
  position: relative;
  @extend .container;
  margin: auto;
}

.header {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 68px;
  font-family: $brand-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $black-text-color;
  @extend .link;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo--blue {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $brandcolor;
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  @extend .list;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__item {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.nav__link {
  @extend .link;
  display: block;
  padding: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $black-text-color;
}

.nav__link--active-main {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $brandcolor;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 63.5px;
    width: 48px;
    height: 4px;
    background: $brandcolor;
    border-radius: 2px;
  }
}

.nav__link--active-portfolio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $brandcolor;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 63.5px;
    width: 60px;
    height: 4px;
    background: $brandcolor;
    border-radius: 2px;
  }
}

.nav__link--active-portfolio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $brandcolor;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 78px;
    height: 4px;
    top: 63.5px;
    background: $brandcolor;
    border-radius: 2px;
  }
}

.phone {
  @extend .list;
  display: block;

  @media screen and (min-width: 768px) {
    margin-top: 21px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.phone__item {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.phone__link {
  @extend .link;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-text-color;

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: $main-text-color;
  }
}

.phone__icon {
  fill: currentColor;
  margin-right: 8px;
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}
