.hero {
  @extend .container;
  padding-top: 118px;
  padding-bottom: 118px;
  background: $background-color;
  background-image: linear-gradient($gradient),
    url(../../images/background-image-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  max-width: 1600px;
  max-height: 600px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: linear-gradient($gradient),
      url(../../images/background-image-mobile-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient($gradient),
      url(../../images/background-image-tablet-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: linear-gradient($gradient),
        url(../../images/background-image-tablet-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient($gradient),
      url(../../images/background-image-desktop-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: linear-gradient($gradient),
        url(../../images/background-image-desktop-2x.jpg);
    }
  }
}

.hero__header {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background-color-white;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
